### Calculating Errors

Here are two datasets that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is based on the judicial example.  Neither of these datasets is based on real people.

Use the exercises below to assist in answering the quiz questions at the bottom of this page.

In [6]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [7]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [32]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.  

**Hint for quiz:** an error is any time the prediction doesn't match an actual value.  Additionally, there are Type I and Type II errors to think about.  We also know we can minimize one type of error by maximizing the other type of error.  If we predict all individuals as innocent, how many of the guilty are incorrectly labeled?  Similarly, if we predict all individuals as guilty, how many of the innocent are incorrectly labeled?

In [10]:
jud_data[jud_data['actual'] != jud_data['predicted']].shape[0]/jud_data.shape[0] #Number of Errors

0.042152958945489497

In [14]:
jud_data.query("actual == 'innocent' and predicted == 'guilty'").count()[0]/jud_data.shape[0] #Number of Type 1 Errors

0.001510366607167376

In [18]:
jud_data.query("actual == 'guilty' and predicted == 'innocent'").count()[0]/jud_data.shape[0] #Number of Type 2 Errors

0.040642592338322119

In [51]:
jud_data.query("actual == 'innocent' and predicted == 'innocent'").count()[0]/jud_data.shape[0]# Number predited inncocent and found inncoent
#Also if everyone were preditced guilty adding this is the number of Type1 errors that would be made

0.45008924893587809

In [55]:
#If we mark everyone as guilty we cannot make any Type 2 errors 
print("Type 2 errs = pred innocent, but are = guilty  which would be 0")
print(f"The alternative to that is {0.4500 + 0.0015}")

Type 2 errs = pred innocent, but are = guilty  which would be 0
The alternative to that is 0.4515

`2.` Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

These should be very similar operations to those you performed in the previous question.

In [53]:
total_par = par_data[par_data['actual'] != par_data['predicted']].shape[0]/par_data.shape[0]
total_par #This is the total number of errors in the data

0.039972551037913875

In [54]:
t1 = par_data.query("actual == 'fails' and predicted == 'opens'").count()[0]/par_data.shape[0]
t1 #The number of type I errors

0.00017155601303825698

In [46]:
t1alt = par_data.query("actual == 'opens' and predicted == 'opens'").count()[0]/par_data.shape[0]
t1alt #Number of Type II errors if all chutes were marked fails

0.95196431634928802

In [47]:
t2 = par_data.query("actual == 'opens'  and predicted == 'fails'").count()[0]/par_data.shape[0]
t2 #number of  type II errors

0.039800995024875621

In [57]:
#The nunber of Type 2 errors made if everything was marked as fails
print(t1alt + t2)
#also it's the precentage of opens
par_data[par_data['actual'] == 'opens'].shape[0]/par_data.shape[0]

0.991765311374

0.9917653113741637